<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.3.0" targetFramework="net452" />
  <package id="Stub.System.Data.SQLite.Core.NetFramework" version="1.0.113.3" targetFramework="net452" />
  <package id="System.Data.SQLite" version="1.0.113.6" targetFramework="net452" />
  <package id="System.Data.SQLite.Core" version="1.0.113.6" targetFramework="net452" />
  <package id="System.Data.SQLite.EF6" version="1.0.113.0" targetFramework="net452" />
  <package id="System.Data.SQLite.Linq" version="1.0.113.0" targetFramework="net452" />
  <package id="Vlc.DotNet.Core" version="2.2.1" targetFramework="net45" />
  <package id="Vlc.DotNet.Core.Interops" version="2.2.1" targetFramework="net45" />
  <package id="Vlc.DotNet.Forms" version="2.2.1" targetFramework="net45" />
  <package id="Vlc.DotNet.Wpf" version="2.2.1" targetFramework="net45" />
  <package id="WpfAnimatedGif" version="1.4.16" targetFramework="net45" />
</packages>